* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  height: 100vh;
  background-color: #f5f5f7;
  font-family: "Inter", sans-serif;
}
header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  > a {
    width: 152px;
    height: 50px;
    background-color: #f0edff;
    font-size: 24px;
    color: #5b47d1;
    font-weight: 700;
    padding: 10px 20px;
  }

  nav {
    display: inline-block;

    ul {
      li {
        display: inline-block;
        padding: 10px 20px;
        a {
          color: black;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}

.tech_hero {
  width: 100%;
  height: 400px;
  background: url(./img/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;

  .tech_container {
    display: grid;
    row-gap: 24px;

    h1 {
      font-size: 48px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

main {
  width: 100%;
  height: 1262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  h3 {
    font-size: 36px;
    font-weight: 700;
  }

  .mainInfo {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 1240px;
    padding: 40px 0;

    section {
      width: 360px;
      height: 472px;
      background-color: #ffffff;

      > p {
        height: 50%;
        width: 100%;
      }

      /* Box Colors */

      .purpleArea {
        background: #c7b8ff;
      }
      .pinkArea {
        background: #ffb8d8;
      }
      .blueArea {
        background: #b8e0ff;
      }
      .yellowArea {
        background: #d4ffb8;
      }
      .orange1Area {
        background: #ffe4b8;
      }
      .orange2Area {
        background: #ffd4b8;
      }

      article {
        height: 50%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cardInfo {
          display: flex;
          > p {
            font-size: 13px;
          }
        }

        .describedInfo {
          display: flex;
          flex-direction: column;
          gap: 6px;

          h4 {
            font-size: 22px;
          }
          > p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 403px;
  background: #252424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footerInfo {
    width: 1240px;
    height: 338px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 60px;
    gap: 10px;

    .techBlogInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .techBlogInfo :first-child {
      font-weight: 600;
      font-size: 20px;
    }
    .techBlogInfo :last-child {
      width: 296px;
      height: 68px;
      font-size: 14px;
      color: #a1a1a6;
    }

    .contactInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      > p {
        font-size: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
        color: #a1a1a6;
        font-size: 14px;
      }
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > p {
      font-size: 20px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 6px;
      color: #a1a1a6;
      font-size: 14px;
    }
  }

  .footer__copyright {
    height: 55px;
    width: 100%;
    color: #86868b;
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
}
